.containerLoginPage {
      width: 40rem;
      margin: 0 auto;
      height:48rem;
      border-radius: 4rem;
      border: 1px solid #e4e4e4;
      background-color: var(--color-light);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    
    }
    