@import "../../../src/styles/variables";

//?logo
//?navbar
//?registration button

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 4rem;
  background-color: $color-bgLight;
  border-radius: 2.5rem 2.5rem 0px 0px;
  margin-top: 5rem;

  // logo
  .headerContainer__logo {
    justify-self: start;
  }

  // navbar
  .headerContainer__navbar {
    justify-self: center;
    font-size: 1.6rem;

    ul {
      display: flex;
      gap: 1.5rem;
      li{
        transition: all 0.3s ease;
        &:hover {
          color: $color-accent;
        }

      }
  
     
    }
  }

  //registration button
  .headerContainer__iconContainer {
    justify-self: end;
    background-color: $color-bgLight;
    .iconContainer__adminIcon {
      border: 1px solid $color-accent;
      color: $color-accent;
      padding: 1rem;
      border-radius: 1rem;
      margin-left: 1rem;

      svg {
        font-size: 2rem;
        vertical-align: middle;
      }
      span {
        color: $color-accent;

        margin-right: 0.5rem;
        font-size: 1.3rem;
      }
      transition: all 0.3s ease;
      &:hover {
        background-color: $color-accent;
        svg {
          color: $color-textLight;
        }
        span {
          color: $color-textLight;
        }
      }
    }
  }
}
