
//COLORS
$color-bgBody: #d5e4e1;
$color-accent: #74baab;
$color-text-title: #1d1d1d;
$color-text-paragraphs: #303030;
$color-bgLight:#fff;
//BOX SHADOW
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
