//?create and edit component
//?delete component


@import "../../../../src/styles/variables";

// create and edit componen
.containerModal {
  width: 46rem;
  height: 45rem;
  border-radius: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerModal__title {
  color: $color-accent;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
}
.containerModal__inputsGroup {
  width: 35rem;
  margin-bottom: 2.5rem;
  .containerModal__inputsGroup__input {
    margin-bottom: 2rem;
    label {
      display: block;
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
    input {
      width: 100%;
      height: 4.2rem;
      display: block;
      background-color: #f2f2f2;
      border-radius: 0.8rem;
      padding: 1rem;
      margin-bottom: 1.5rem;
      &::placeholder {
        color: $color-placeholder;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.2rem;
      }
    }
  }
}

.containerModal__ButtonsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
  button {
    width: 16rem;
    height: 4.2rem;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.5s ease;
  }
  .containerModal__ButtonsGroup__acceptBtn {
    color: $color-textLight;
    background-color: $color-accent;
    &:hover {
      opacity: 0.6;
    }
  }
  .containerModal__ButtonsGroup__cancelBtn {
    color: rgba(40, 40, 40, 0.8);
    &:hover {
      opacity: 0.6;
    }
  }
}


// delete component
.containerDeleteConfirmation {
  width: 40rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
}
.containerDeleteConfirmation__image {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 3rem;
}
.containerDeleteConfirmation__content {
  font-weight: 400;
  font-size: 1.5rem;
  /* color: var(--color-text); */
}
.containerDeleteConfirmation__btnGroup {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.containerDeleteConfirmation__btnGroup button {
  width: 16rem;
  height: 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: blue;
  border-radius: 1rem;
  margin-top: 3rem;
}
.containerDeleteConfirmation__btnGroup
  .containerDeleteConfirmation__btnGroup__btnAccept {
  background-color: rgba(244, 63, 94, 1);
  /* color: var(--color-light); */
}
.containerDeleteConfirmation__btnGroup
  .containerDeleteConfirmation__btnGroup__btnAccept:hover {
  opacity: 0.6;
}
.containerDeleteConfirmation__btnGroup
  .containerDeleteConfirmation__btnGroup__btnCancel {
  background-color: rgba(223, 223, 223, 1);
  color: rgba(40, 40, 40, 0.8);
}
.containerDeleteConfirmation__btnGroup
  .containerDeleteConfirmation__btnGroup__btnCancel:hover {
  opacity: 0.6;
}
